@import url("https://fonts.cdnfonts.com/css/inter");

html {
  background: #282828;
}
main {
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #edf2fb;
}

.filled {
  background-color: #c8e2bf !important; /* Change this to your desired fill color */
}

.filled-normalmap {
  background-color: #c3c2c2; /* Change this to your desired fill color */
}

.filled-opacitymask {
  background-color: #b1a6d6; /* Change this to your desired fill color */
}
